<div class="row">

  <div class="col-md-3">
    <div class="col-md-12 greybox">
      <h2 class="colred">TEST</h2>
      <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </div>
  </div>


  <div class="col-md-3">
    <div class="col-md-12 greybox">
      <h2 class="colblue">TEST</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      </p>
    </div>
  </div>


  <div class="col-md-3">
    <div class="col-md-12 greybox">
      <h2 class="colgreen">TEST</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      </p>
    </div>
  </div>


  <div class="col-md-3">
    <div class="col-md-12 greybox">
      <h2 class="colyellow">QUOTE OF THE DAY</h2>
      <blockquote>
        Do, do not say. Say, but first do.
      </blockquote>
      <p>
      My mate, Andy. What does this even mean?
      </p>
    </div>
  </div>


</div>
