<!DOCTYPE html>
	<html lang="en">
		<head>
				 <meta charset="utf-8">
				 <meta http-equiv="X-UA-Compatible" content="IE=edge">
				 <meta name="viewport" content="width=device-width, initial-scale=1">
				 <meta property="og:title" content="badatwords" />
				 <meta property="og:type" content="website" />
				 <meta property="og:url" content="https://davidgitstuff.github.io" />
				 <meta property="og:image" content="/img/logo.png" />
				 <meta property="og:description" content="badatwords blog" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet  -->
			<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
			<!-- Bootstrap -->
		    <link href="/css/bootstrap.min.css" rel="stylesheet">
		    <link href="/css/color.css" rel="stylesheet">
		</head>
  <body>

<div class="row pad20 bigcontainer">

  <div class="row pad20">

    <img src="/img/logo.png" alt="badatwords" style="width:280px;height:60px">
		<br/>
		<br/>

			<div class="row">

				  <div class="col-md-12">
					  <div class="col-md-12 greybox">
					    <h2 class="colgrey">{{ page.title }}</h2>
					    <p>
					      			{{ content }}
					    </p>
					  </div>
				  </div>

			 </div>

			 <hr style="margin-top: 0px;">

			      <div class="row">

			        <div class="col-md-3">
			          <div class="col-md-12 greybox">
			            <h2 class="colred">posts</h2>
									<ul class="posts">

										{% for post in site.posts %}
											<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
										{% endfor %}
									</ul>
			          </div>
			        </div>




			        <div class="col-md-3">
			          <div class="col-md-12 greybox">
			            <h2 class="colblue">info</h2>
									<nav>
			              <ul>
			                  <li><a href="/">Home</a></li>
			                  <li><a href="/about">About</a></li>
			                  <li><a href="/blog">Blog</a></li>
			              </ul>
			            </nav>
			          </div>
			        </div>


			        <div class="col-md-3">
			          <div class="col-md-12 greybox">
			            <h2 class="colgreen">things I like</h2>
										{% include like.html %}
			          </div>
			        </div>


			        <div class="col-md-3">
			          <div class="col-md-12 greybox">
			            <h2 class="colyellow">quote of the month</h2>
										{% include quote.html %}
			          </div>
			        </div>

			      </div>
<hr style="margin-top: 0px;">
		</div>
</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
