<!DOCTYPE html>
	<html lang="en">
		<head>
				 <meta charset="utf-8">
				 <meta http-equiv="X-UA-Compatible" content="IE=edge">
				 <meta name="viewport" content="width=device-width, initial-scale=1">
				 <meta property="og:title" content="badatwords" />
				 <meta property="og:type" content="website" />
				 <meta property="og:url" content="https://davidgitstuff.github.io" />
				 <meta property="og:image" content="/img/logo.png" />
				 <meta property="og:description" content="badatwords blog" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet  -->
			<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
			<!-- Bootstrap -->
		    <link href="/css/bootstrap.min.css" rel="stylesheet">
		    <link href="/css/color.css" rel="stylesheet">
		</head>
  <body>

<div class="row pad20 bigcontainer">

  <div class="row pad20">

    <img src="/img/logo.png" alt="badatwords" style="width:280px;height:60px">
<br/>
<br/>
<br/>

<div class="row">

<!-- potential nav
  <div class="col-md-1">
    <div class="col-md-12 greybox">
      <h2 class="colgrey">TEST</h2>
      <p>
        TEST NAV
      </p>
    </div>
  </div>
-->

  <div class="col-md-12">
  <div class="col-md-12 greybox">
    <h2 class="colgrey">{{ page.title }}</h2>
    <p>
      			{{ content }}
    </p>
  </div>
 </div>


<!-- </div>
    <div class="row">
      <div class="col-md-12">
        <br/>
      </div>
    </div>
      <div class="row pad15">
            <div class="row">
              <div class="col-md-1 bg-blue">.col-md-1</div>
              <div class="col-md-1 bg-purple">.col-md-1</div>
              <div class="col-md-1 bg-red">.col-md-1</div>
              <div class="col-md-1 bg-orange">.col-md-1</div>
              <div class="col-md-1 bg-yellow">.col-md-1</div>
              <div class="col-md-1 bg-green">.col-md-1</div>
              <div class="col-md-1 bg-blue">.col-md-1</div>
              <div class="col-md-1 bg-purple">.col-md-1</div>
              <div class="col-md-1 bg-red">.col-md-1</div>
              <div class="col-md-1 bg-orange">.col-md-1</div>
              <div class="col-md-1 bg-yellow">.col-md-1</div>
              <div class="col-md-1 bg-green">.col-md-1</div>
            </div>
      </div> -->

  </div>


      <div class="row">

        <div class="col-md-3">
          <div class="col-md-12 greybox">
            <h2 class="colred">TEST</h2>
            <nav>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/cv">CV</a></li>
                  <li><a href="/blog">Blog</a></li>
              </ul>
            </nav>
          </div>
        </div>


        <div class="col-md-3">
          <div class="col-md-12 greybox">
            <h2 class="colblue">TEST</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
          </div>
        </div>


        <div class="col-md-3">
          <div class="col-md-12 greybox">
            <h2 class="colgreen">TEST</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
          </div>
        </div>


        <div class="col-md-3">
          <div class="col-md-12 greybox">
            <h2 class="colyellow">QUOTE OF THE DAY</h2>
            <blockquote>
              Do, do not say. Say, but first do.
            </blockquote>
            <p>
            My mate, Andy. What does this even mean?
            </p>
          </div>
        </div>


      </div>

<hr/>

<div class="row">

<!-- potential nav
  <div class="col-md-1">
    <div class="col-md-12 greybox">
      <h2 class="colgrey">TEST</h2>
      <p>
        TEST NAV
      </p>
    </div>
  </div>
-->

  <div class="col-md-12">
  <div class="col-md-12 greybox">
    <h2 class="colgrey">{{ page.title }}</h2>
    <p>
      			{{ content }}
    </p>
  </div>
 </div>


<!-- </div>
    <div class="row">
      <div class="col-md-12">
        <br/>
      </div>
    </div>
      <div class="row pad15">
            <div class="row">
              <div class="col-md-1 bg-blue">.col-md-1</div>
              <div class="col-md-1 bg-purple">.col-md-1</div>
              <div class="col-md-1 bg-red">.col-md-1</div>
              <div class="col-md-1 bg-orange">.col-md-1</div>
              <div class="col-md-1 bg-yellow">.col-md-1</div>
              <div class="col-md-1 bg-green">.col-md-1</div>
              <div class="col-md-1 bg-blue">.col-md-1</div>
              <div class="col-md-1 bg-purple">.col-md-1</div>
              <div class="col-md-1 bg-red">.col-md-1</div>
              <div class="col-md-1 bg-orange">.col-md-1</div>
              <div class="col-md-1 bg-yellow">.col-md-1</div>
              <div class="col-md-1 bg-green">.col-md-1</div>
            </div>
      </div> -->

  </div>






</div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
